# Appwrite Configuration
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=your-project-id

# Database IDs
NEXT_PUBLIC_DATABASE_ID=your-database-id
NEXT_PUBLIC_EXPENSE_ID=your-expenses-collection-id
NEXT_PUBLIC_REVENUE_ID=your-revenue-collection-id
NEXT_PUBLIC_CATEGORY_ID=your-categories-collection-id
